@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url("/static/NanumSquareR.eot");
  src: url("/static/NanumSquareR.eot?#iefix") format("embedded-opentype"),
    url("/static/NanumSquareR.woff") format("woff"),
    url("/static/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url("/static/NanumSquareB.eot");
  src: url("/static/NanumSquareB.eot?#iefix") format("embedded-opentype"),
    url("/static/NanumSquareB.woff") format("woff"),
    url("/static/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  src: url("/static/NanumSquareEB.eot");
  src: url("/static/NanumSquareEB.eot?#iefix") format("embedded-opentype"),
    url("/static/NanumSquareEB.woff") format("woff"),
    url("/static/NanumSquareEB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url("/static/NanumSquareL.eot");
  src: url("/static/NanumSquareL.eot?#iefix") format("embedded-opentype"),
    url("/static/NanumSquareL.woff") format("woff"),
    url("/static/NanumSquareL.ttf") format("truetype");
}
